.container {
  display: flex;
  justify-content: center;
}

.gridContainer {
  display: grid;
  /*grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);*/
  background-color: #2196F3;
  grid-gap: 1px 1px;
  width: 500px;
  height: 500px;
}

.gridItem {
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
  height: auto;
}

.colored {
  background-color: rgba(255, 255, 255, 1.0);
}

